@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  background: #18314F;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -2px;
  color: #EEEEEE;
  animation: tick 0.5s infinite;
}

ul li:nth-of-type(1) {
  animation-delay: 0.1s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.2s;
}

ul li:nth-of-type(3) {
  animation-delay: 0.3s;
}

ul li:nth-of-type(4) {
  animation-delay: 0.4s;
}

ul li:nth-of-type(5) {
  animation-delay: 0.5s;
}

ul li:nth-of-type(6) {
  animation-delay: 0.6s;
}

ul li:nth-of-type(7) {
  animation-delay: 0.7s;
}

ul li:nth-of-type(8) {
  animation-delay: 0.8s;
}

ul li:nth-of-type(9) {
  animation-delay: 0.9s;
}

@keyframes tick {
  25% {
    transform: translateY(-0.05em) translate(1px, 2px);
    color: #3D7FCE; /* #384E77 */
  }
  100% {
    transform: rotate(0deg);
  }
}

